<!DOCTYPE html>
<html>
<head>
    <title>Account Details</title>
    {% load static %}
    <!-- Link to the external CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'account_detail' account_number=account.account_number %}">Account</a></li>
            <li><a href="{% url 'transactions' account.account_number %}">View Transactions</a></li>
            <li><a href="{% url 'transfer' account.account_number %}">Transfer Money</a></li>
            <li><a href="{% url 'cashup' account.account_number %}">Cashup</a></li>
            <li><a href="{% url 'withdraw' account.account_number %}">Withdraw</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>
    <div class="account-details">
        <h1>{{ account.account_holder }}</h1>
        <p><strong>Account Number:</strong> {{ account.account_number }}</p>
        <p><strong>Balance:</strong> {{ account.balance }} $</p>

    </div>
</body>
</html>
